body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/transferir.jpg);

}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 30px 0;
    background: rgba(0,0,0,.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.7);
    border-radius: 10px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box h3{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
}

